.red{background:red;}
.blue{background:blue;}
.black{background:black;}
.brown{background:brown;}
.green{background:green;}
.white{background:white;}
.yellow{background:yellow;}
.purple{background:purple;}
.sky-blue{background:sky-blue;}